<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <li>version 修复了bug</li>
    <li>version2</li>
    <li>version3</li>
    =======
    <li>直播：第二天</li>
    <li>直播：第三天 总任务1/2</li>
    <li>修复直播第四天的bug</li>
    =======
    <li>直播的五天</li>
    <li>直播功能开发完毕</li>
    <li>before 同城</li>
    <li>同成</li>
    <li>同城遇到bug</li>
    <li>紧急修复bug</li>
    <li>同城</li>
    <li>tongcheng bug2</li>
    <li>第二次修复同城的bug</li>
    <li>同城遇到第三次bug</li>
    <li>修复同城的第三次bug</li>

</ul>

</body>
</html>